<div class="container">
  <div class="open-sidebar">
    <div class="update-sidebar-container" id="update-sidebar-container">!</div>
    <button id="open-nav">Cart</button>
  </div>

  <div class="row">
    <div class="row" id="first-image">
      <img class="u-max-full-width" src="./images/camera.jpg">
    </div>

    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" placeholder="Search" ng-model="searchText">
      </div>
      <div class="six columns" ng-controller="CatalogCtrl as catalogCtrl">
        <select class="u-full-width">
          <option ng-repeat="camera in catalogCtrl.cameras" ng-model="searchText">{{ camera.name }}</option>
        </select>
      </div>
    </div>

    <div class="row" ng-controller="CatalogCtrl as catalogCtrl">
      <!-- Make one of these for each camera -->
      <div class="three columns camera-container" ng-repeat="camera in catalogCtrl.cameras | filter : searchText | orderBy : '-rating'">

        <div class="row camera-info-row" ng-controller="CameraCtrl as cameraCtrl">
          <a href="" class="camera-image-container" ng-click="cameraCtrl.addCamera(camera)"><img src="{{ camera.image }}" class="camera-image"></a>
        </div>

        <div class="row camera-info-row">
          <p class="camera-name">{{ camera.name }}</p>
        </div>

        <div class="row camera-info-row">
          <div class="six columns">
            <p class="camera-price">Price:</p>
          </div>
          <div class="six columns">
            <p class="camera-price">{{ camera.price | currency }}</p>
          </div>
        </div>

        <div class="row camera-info-row">
          <div class="six columns">
            <p class="camera-rating">Rating:</p>
          </div>
          <div class="six columns">
            <p class="camera-rating">{{ camera.rating }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
