<div class="checkout-container row">
  <div class="five columns product-list">
    <!-- Make one for each type of wanted camera -->
    <div class="row">
      <!-- Image here -->
      <div class="four columns">

      </div>
      <!-- name / desc here -->
      <div class="four columns">
        <div class="row">
          <p class="camera-name"></p>
        </div>

        <div class="row">
          <p class="camera-price"></p>
        </div>
      </div>

      <!-- quantity here -->
      <div class="four columns">
        <p class="camera-quantity">

        </p>
      </div>
    </div>
  </div>
  <div class="seven columns">
    <!-- name -->
    <div class="row">
      <input class="u-full-width" type="email" placeholder="" id="exampleEmailInput">
    </div>

    <div class="row">
      <input class="u-full-width" type="phone" placeholder="" id="exampleEmailInput">
    </div>

    <!-- email -->
    <div class="row">
      <input class="u-full-width" type="text" placeholder="" id="exampleEmailInput">
    </div>

    <!-- pickup date -->
    <div class="row">
      <input class="u-full-width" type="text" placeholder="" id="exampleEmailInput">
    </div>

    <!-- optional info -->
    <div class="row">
      <input class="u-full-width" type="text" placeholder="" id="exampleEmailInput">
    </div>
  </div>
</div>
