<div class="checkout-container row">
  <div class="five columns product-list" ng-controller="CameraCtrl as cameraCtrl">
    <div class="row" ng-repeat="cartCam in cameraCtrl.wantedCameras() | orderBy : '-quantity'">

      <div class="four columns camera-information camera-checkout-image-container">
        <div class="checkout-camera-image" style="background-image: url({{ cartCam.image }})"></div>
      </div>

      <div class="four columns no-margin" camera-information>
        <div class="row">
          <p class="camera-name">{{ cartCam.name }}</p>
        </div>

        <div class="row">
          <p class="camera-price">{{ cartCam.price }}</p>
        </div>
      </div>

      <div class="four columns camera-information no-margin">
        <p class="camera-quantity">{{ cartCam.quantity }}</p>
      </div>
    </div>
  </div>

  <div class="seven columns customer-info" ng-controller="AuthCtrl as authCtrl">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" placeholder="John" ng-model="authCtrl.firstName">
      </div>

      <div class="six columns">
        <input class="u-full-width" type="text" placeholder="Appleseed" ng-model="authCtrl.lastName">
      </div>
    </div>

    <div class="row">
      <input class="u-full-width" type="email" placeholder="email@example.com" ng-model="authCtrl.email">
    </div>

    <div class="row">
      <input class="u-full-width" type="text" placeholder="Address line 1">
    </div>

    <div class="row">
      <input class="u-full-width" type="text" placeholder="Address line 2">
    </div>

    <div class="row">
      <input class="u-full-width" type="date" placeholder="Pickup Date">
    </div>

    <div class="row" ng-show="authCtrl.isLoggedOut()">
      <div class="row">
        <input class="u-full-width" type="password" placeholder="Password" ng-model="authCtrl.password">
      </div>

      <div class="four columns offset-by-four">
        <input type="button" class="login" value="Login" ng-click="authCtrl.login()" />
      </div>

      <div class="four columns">
        <input type="button" class="signup" value="Signup" ng-click="authCtrl.signup()" />
      </div>
    </div>
    <div class="row" ng-hide="authCtrl.isLoggedOut()">
      <div class="six columns">
        <input type="button" class="place-order" value="Place Order" />
      </div>
      <div class="six columns">
        <input type="button" class="" value="Logout" ng-click="authCtrl.logout()" />
      </div>
    </div>
  </div>
</div>
