@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(../../fonts/inconsolata.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(./fonts/inconsolata2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@keyframes onetozero {
  0%   { opacity: 1;   }
  25%  { opacity: .75; }
  50%  { opacity: .5;  }
  75%  { opacity: .25; }
  100% { opacity: 0;   }
}

body {
  overflow-x: hidden;
}

button {
  text-align: center;
  padding: 0;
  color: #444;
  border: 1px solid #bbb !important;
  line-height: .5;
}

button:hover {
  border: 1px solid #444 !important;
  color: #bbb;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.navbar {
  font-family: Inconsolata;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.6rem;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

.nav-col {
  height: 64px;
}

.nav-button {
  font-size: 1.5rem;
  margin-top: 1px;
  height: 100%;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.camera-container {
  border: 1px solid #999;
}

.camera-container:nth-child(4n+1) {
  margin-left: 0;
}

.camera-price, .camera-rating, .cart-row, .nav-row, .camera-name {
  margin-bottom: 0;
}

.camera-name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.camera-price {
  font-size: 1.5rem;
}

.camera-image {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}


.open-sidebar {
  -webkit-transform: rotate(-90deg);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 25px;
  width: 90px;
}

.sidebar {
  z-index: 100;
  background: #333;
  color: #000;
  min-height: 100%;
  height: 100%;
  position: fixed;
  top:0;
  right: 0;
  width: 30%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  border-left: 3px solid #aaa;
}

.sidebar-nav {
  font-family:'Inconsolata';
  font-weight: bold;
}

.update-sidebar-container {
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  -webkit-transform: rotate(90deg);
  position: fixed;
  z-index: 100;
  right: 0%;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 1px solid #ff0000;
  color: #ff0000;
  opacity: 0;
}

/*.update-sidebar-container.ng-hide {
  opacity: .5;
  animation-name: onetozero;
  animation-duration: 1s;
}*/

.cart-row {
  padding-top: 32px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #fff;
  height: 65px;
}

.cart-row .cart-col p {
  font-family: Inconsolata;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.cart-col {
  margin-bottom: 0;
}

.cart-col p {
  margin-bottom: 0;
}

.cart-name {
  color: #fff;
}

.cart-quantity {
  text-align: center;
  color: #fff;
}

#title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2.7rem;
  margin-bottom: 0;
}

#desc {
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-bottom: 0;
}

#first-image {
  margin-left: -17%;
  width: 100vw;
}

#cart-title {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 0;
}

#subtotal {
  border-top: 1px solid #fff;
}

#open-nav {
  width: 60px;
  height: 25px;
}
